@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
body {
  min-width: 1920px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-size: 3.125rem; /* 50px / 16px = 3.125rem */
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
.global_container_ {
  float: none;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  min-width: 1920px;
  overflow-x: hidden;
  background: url(/images/background.jpg) no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}
.color-fill-1-holder {
  min-height: 8471px;
  padding: 0 0 356px;
  position: relative;
  z-index: 0;
  background: #000000 center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-width: 1920px;
  z-index: 4;
  background: url(/images/ellipse_1.png) no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
.l-constrained {
  height: 1053px;
  margin: 0 auto;
  position: relative;
  width: 1920px;
}
.ellipse-1-copy {
  left: 50%;
  position: absolute;
  top: 0;
  margin-left: -960px;
}
.layer-1 {
  left: 50%;
  position: absolute;
  top: 0;
  margin-left: -751px;
}
.layer-1-copy {
  left: 50%;
  position: absolute;
  top: 0;
  margin-left: -720px;
}
.logo-white {
  left: 50%;
  position: absolute;
  top: 32px;
  margin-left: -906px;
}
.learn {
  left: 50%;
  position: absolute;
  top: 817px;
  font-size: 8.904493rem; /* 142.47px / 16px = 8.904375rem */
  font-weight: bold;
  line-height: 145px;
  margin-left: -801px;
}
.text {
  left: 50%;
  position: absolute;
  top: 474px;
  font-family: 'Geist Mono', monospace;
  font-size: 2.585133rem; /* 41.36px / 16px = 2.585rem */
  line-height: 1.2;
  margin-left: -700px;
}
.text-2 {
  left: 50%;
  position: absolute;
  top: 471px;
  font-family: 'Geist Mono', monospace;
  font-size: 2.585133rem; /* 41.36px / 16px = 2.585rem */
  line-height: 1.2;
  margin-left: 432px;
}
.design {
  left: 50%;
  position: absolute;
  top: 824px;
  font-size: 8.904493rem; /* 142.47px / 16px = 8.904375rem */
  font-weight: bold;
  line-height: 150px;
  margin-left: -273px;
}
.grow {
  left: 50%;
  position: absolute;
  top: 817px;
  font-size: 8.904493rem; /* 142.47px / 16px = 8.904375rem */
  font-weight: bold;
  line-height: 145px;
  margin-left: 343px;
}
.enroll-now-bar {
  margin: 0;
  overflow: hidden;
  padding: 33px 0 32px;
  position: relative;
  z-index: 30;
  background: #f3704d;
}
.l-constrained-3 {
  margin: 0 auto;
  padding: 0 392px;
  position: relative;
  width: 1920px;
}
.text-3 {
  float: left;
  margin: 9px 37px 0 0;
  width: 807px;
  font-size: 2.532029rem; /* 40.51px / 16px = 2.531875rem */
  font-weight: 600;
}
.rectangle-2-holder {
  float: left;
  padding: 15px 0 16px;
  position: relative;
  width: 258px;
  -webkit-border-radius: 25.97px;
  -moz-border-radius: 25.97px;
  border-radius: 25.97px;
  background: #ffffff;
}
.text-4 {
  display: block;
  left: 4.5px;
  margin: 0 auto;
  position: relative;
}
.stucked-imagery {
  height: 1080px;
  margin: -4px 0 0;
  padding: 301px 0 232px;
  position: relative;
  z-index: 16;
  background: url(/images/rectangle_4.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}
.l-constrained-2 {
  margin: 0 auto;
  padding: 0 365px;
  position: relative;
  width: 1920px;
}
.col-3 {
  float: left;
  margin: 42px 51px 0 0;
  position: relative;
  width: 191px;
}
.text-5 {
  display: block;
  position: relative;
}
.text-6 {
  display: block;
  margin: 135px auto 0;
  position: relative;
  right: 19px;
}
.text-7 {
  display: block;
  left: 40.5px;
  margin: 160px auto 0;
  position: relative;
}
.col-4 {
  float: left;
  position: relative;
  width: 892px;
}
.row-5 {
  position: relative;
  width: 877px;
}
.col-6 {
  float: left;
  margin: 3px 0 0;
  position: relative;
  width: 619px;
  z-index: 0;
}
.text-8 {
  display: block;
  margin: 0 0 0 19px;
  position: relative;
  z-index: 19;
}
.stucked {
  display: block;
  margin: -1px 0 0;
  position: relative;
  z-index: 18;
}
.text-9 {
  display: block;
  left: 129px;
  margin: 26px auto 0;
  position: relative;
  z-index: 20;
}
.col-7 {
  float: right;
  position: relative;
  width: 126px;
}
.text-10 {
  display: block;
}
.text-11 {
  display: block;
  margin: 161px 0 0;
  position: relative;
}
.text-12 {
  display: block;
  left: 388px;
  margin: 118px auto 0;
  position: relative;
}
.text-13 {
  display: block;
  margin: -4px 0 0 15px;
  position: relative;
}
.design-sprint {
  height: 1080px;
  padding: 129px 0 166px;
  position: relative;
  z-index: 36;
  background: url(/images/rectangle_4_copy.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained-4 {
  margin: 0 auto;
  position: relative;
  width: 1920px;
}
.text-14 {
  color: #000000;
  font-family: 'Geist Mono', monospace;
  font-weight: 300;
  text-align: center;
}
.text-15 {
  display: block;
  margin: 104px auto 0;
  position: relative;
  right: 120px;
}
.design-2 {
  display: block;
  margin: -58px auto 0;
  position: relative;
}
.sprint {
  display: block;
  margin: -74px auto 0;
  position: relative;
}
.mastering {
  padding: 145px 0 115px;
  position: relative;
  z-index: 45;
  background: #ffffff;
}
.l-constrained-5 {
  margin: 0 auto;
  padding: 0 85px 0 104px;
  position: relative;
  width: 1920px;
}
.col-5 {
  float: left;
  margin: 176px 0 0;
  position: relative;
  width: 656px;
}
.text-16 {
  color: #000000;
  font-size: 5.346166rem; /* 85.54px / 16px = 5.34625rem */
  font-weight: 500;
  line-height: 1.2;
}
.rectangle-2-copy-holder {
  margin: 43px 0 0;
  padding: 28px 0;
  position: relative;
  width: 451px;
  -webkit-border-radius: 45.51px;
  -moz-border-radius: 45.51px;
  border-radius: 45.51px;
  background: #f3704d;
}
.text-17 {
  display: block;
  left: 9px;
  margin: 0 auto;
  position: relative;
}
.rectangle-5-copy-2-holder {
  float: right;
  height: 820px;
  padding: 303px 0 53px;
  position: relative;
  width: 193px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  background: url(/images/rectangle_5_copy_2.png) no-repeat;
}
.text-20 {
  display: block;
  left: 6px;
  margin: 0 auto;
  position: relative;
}
.rectangle-5-copy-holder {
  float: right;
  height: 820px;
  margin: 0 20px 0 0;
  padding: 356px 0 51px;
  position: relative;
  width: 194px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  background: url(/images/rectangle_5_copy.png) no-repeat;
}
.text-19 {
  display: block;
  margin: 0 auto;
  position: relative;
  right: 17px;
}
.rectangle-5-holder {
  float: right;
  height: 820px;
  margin: 0 19px 0 0;
  padding: 661px 37px 52px;
  width: 531px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background: url(/images/rectangle_5.png) no-repeat;
  font-size: 2.75rem; /* 44px / 16px = 2.75rem */
  font-weight: 500;
  line-height: 1.2;
}
.video {
  padding: 352px 0 281px;
  position: relative;
  z-index: 60;
  background: #f3704d;
}
.l-constrained-6 {
  margin: 0 auto;
  position: relative;
  width: 1920px;
}
.text-21 {
  display: block;
  margin: 0 auto;
}
.rectangle-6-holder {
  margin: 70px auto 0;
  padding: 36px 0 33px;
  position: relative;
  width: 572px;
  background: #613529;
}
.text-22 {
  display: block;
  margin: 0 auto;
}
.before-after {
  height: 1143px;
  overflow: hidden;
  position: relative;
  width: 100%; /* 1920px / 1920px = 100% */
  z-index: 66;
}
.col {
  left: 0;
  padding: 151px 0 225px;
  position: absolute;
  top: 0;
  width: 100%; /* 1920px / 1920px = 100% */
  background: #191919;
}
.l-constrained-7 {
  margin: 0 auto;
  position: relative;
  width: 1920px;
  z-index: 0;
}
.text-23 {
  position: relative;
  z-index: 70;
  font-size: 4.1682rem; /* 66.69px / 16px = 4.168125rem */
  font-weight: 500;
  text-align: center;
}
.ellipse-2-copy {
  display: block;
  margin: -26px 0 0;
  position: relative;
  z-index: 68;
}
.ellipse-2 {
  left: 50%;
  position: absolute;
  top: 481px;
  margin-left: 330px;
}
.row {
  left: 50%;
  min-height: 673px;
  padding: 277px 38px 271px 43px;
  position: absolute;
  top: 292px;
  width: 1333px;
  border: 1px solid #f3704d; /*stroke*/
  -webkit-border-radius: 35.5px;
  -moz-border-radius: 35.5px;
  border-radius: 35.5px;
  background: #000000;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  margin-left: -666px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.triangle-1 {
  flex-shrink: 0;
  margin-right: 40px;
  align-self: center;
}
.text-24 {
  flex: 0 1 auto;
  margin: 0;
  width: auto;
  max-width: 713px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
.triangle-1-copy {
  flex-shrink: 0;
  margin-left: 40px;
  align-self: center;
}
.cta {
  margin: 0;
  position: relative;
  z-index: 76;
}
.col-2 {
  height: 1080px;
  padding: 98px 0 138px;
  position: relative;
  background: url(/images/rectangle_4_copy_7.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained-8 {
  margin: 0 auto;
  position: relative;
  width: 1920px;
}
.text-25 {
  display: block;
  margin: 0 auto;
}
.rectangle-4-copy-8-holder {
  margin: 545px auto 0;
  max-width: 742px;
  min-height: 89px;
  padding: 12px 0 19px 23px;
  width: 742px;
  -webkit-border-radius: 44.5px;
  -moz-border-radius: 44.5px;
  border-radius: 44.5px;
  background: #df6646;
  text-align: center;
}
.text-27 {
  display: block;
  left: 11.5px;
  margin: 386px auto 0;
  position: relative;
}
