@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
body {
  min-width: 984px;
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-size: 3.4375rem; /* 55px / 16px = 3.4375rem */
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
.global_container_ {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%; /* 1280px / 1280px = 100% */
  background: url(images/background.jpg) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.color-fill-1-holder {
  min-height: 13187px;
  padding: 76px 0 0;
  position: relative;
  background: #000000 center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero {
  position: relative;
}
.logo-white {
  display: block;
  left: 18px;
  margin: 0 auto;
  position: relative;
}
.col {
  margin: 85px 0 0;
  padding: 158px 0 58px;
  position: relative;
  background: #ff0000;
}
.l-constrained-8 {
  margin: 0 auto;
  position: relative;
  width: 984px;
}
.text {
  margin: 0 0 0 64px;
  font-family: 'Geist Mono', monospace;
  font-size: 1.724151rem; /* 27.59px / 16px = 1.724375rem */
  line-height: 1.2;
}
.text-2 {
  margin: 350px 0 0 804px;
  font-family: 'Geist Mono', monospace;
  font-size: 1.724151rem; /* 27.59px / 16px = 1.724375rem */
  line-height: 1.2;
}
.learn {
  margin: 285px 0 0;
  font-size: 11.73127rem; /* 187.7px / 16px = 11.73125rem */
  font-weight: bold;
  text-align: center;
}
.design {
  margin: 54px 0 0 148px;
  font-size: 11.73127rem; /* 187.7px / 16px = 11.73125rem */
  font-weight: bold;
}
.grow {
  margin: 1px 0 0;
  font-size: 11.73127rem; /* 187.7px / 16px = 11.73125rem */
  font-weight: bold;
  text-align: center;
}
.enroll-now-bar {
  padding: 38px 0 22px;
  position: relative;
  background: #f3704d;
}
.l-constrained-2 {
  margin: 0 auto;
  padding: 0 31px;
  position: relative;
  width: 984px;
}
.text-3 {
  font-size: 2.856649rem; /* 45.71px / 16px = 2.856875rem */
  font-weight: 600;
  text-align: center;
}
.rectangle-2-holder {
  margin: 31px auto 0;
  padding: 30px 0 29px;
  position: relative;
  width: 471px;
  -webkit-border-radius: 47.26px;
  -moz-border-radius: 47.26px;
  border-radius: 47.26px;
  background: #ffffff;
}
.text-4 {
  display: block;
  left: 9px;
  margin: 0 auto;
  position: relative;
}
.stucked-imagery {
  height: 1038px;
  padding: 259px 0 307px;
  position: relative;
  background: url(images/rectangle_4.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained {
  margin: 0 auto;
  position: relative;
  width: 984px;
}
.col-2 {
  float: left;
  margin: 37px 0 0 -5px;
  position: relative;
  width: 165px;
}
.text-5 {
  display: block;
  position: relative;
}
.text-6 {
  display: block;
  margin: 115px auto 0;
  position: relative;
  right: 16px;
}
.text-7 {
  display: block;
  left: 35px;
  margin: 138px auto 0;
  position: relative;
}
.col-3 {
  float: right;
  margin: 0 10px 0 0;
  position: relative;
  width: 771px;
}
.row-3 {
  position: relative;
  width: 759px;
}
.col-4 {
  float: left;
  margin: 3px 0 0;
  position: relative;
  width: 536px;
}
.text-8 {
  display: block;
  margin: 0 0 0 18px;
  position: relative;
}
.stucked {
  display: block;
}
.text-9 {
  display: block;
  left: 111px;
  margin: 22px auto 0;
  position: relative;
}
.col-5 {
  float: right;
  position: relative;
  width: 110px;
}
.text-10 {
  display: block;
}
.text-11 {
  display: block;
  margin: 138px 0 0;
  position: relative;
}
.text-12 {
  display: block;
  left: 335.5px;
  margin: 102px auto 0;
  position: relative;
}
.text-13 {
  display: block;
  margin: -4px 0 0 14px;
  position: relative;
}
.design-sprint {
  height: 1120px;
  padding: 127px 0 167px;
  position: relative;
  background: url(images/rectangle_4_copy.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained-3 {
  margin: 0 auto;
  padding: 0 56px;
  position: relative;
  width: 984px;
}
.text-14 {
  margin: 0 114px 0 155px;
  color: #000000;
  font-family: 'Geist Mono', monospace;
  font-size: 3.729675rem; /* 59.67px / 16px = 3.729375rem */
  line-height: 1.2;
  text-align: center;
}
.text-15 {
  display: block;
  margin: 141px auto 0;
  position: relative;
  right: 89px;
}
.design-2 {
  display: block;
  margin: -45px 0 0;
  position: relative;
}
.sprint {
  display: block;
  margin: -7px auto 0;
  position: relative;
}
.mastering {
  padding: 90px 0 344px;
  position: relative;
  background: #ffffff;
}
.l-constrained-4 {
  margin: 0 auto;
  position: relative;
  width: 984px;
}
.text-16 {
  margin: 0 36px 0 48px;
  color: #000000;
  font-size: 4.897942rem; /* 78.37px / 16px = 4.898125rem */
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
.rectangle-5-holder {
  height: 588px;
  margin: 73px 0 0;
  max-width: 985px;
  padding: 475px 0 56px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background: url(images/rectangle_5.png) no-repeat;
  font-weight: 500;
  text-align: center;
}
.rectangle-5-copy-6-holder {
  height: 588px;
  margin: 37px 0 0;
  max-width: 985px;
  padding: 473px 0 59px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background: url(images/rectangle_5.png) no-repeat;
  font-weight: 500;
  text-align: center;
}
.rectangle-5-copy-8-holder {
  height: 588px;
  margin: 37px 0 0;
  max-width: 985px;
  padding: 480px 0 51px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background: url(images/rectangle_5.png) no-repeat;
  font-weight: 500;
  text-align: center;
}
.video {
  padding: 589px 0 658px;
  position: relative;
  background: #f3704d;
}
.l-constrained-5 {
  margin: 0 auto;
  position: relative;
  width: 984px;
}
.text-20 {
  display: block;
  margin: 0 auto;
}
.rectangle-6-holder {
  margin: 59px auto 0;
  padding: 30px 0 28px;
  position: relative;
  width: 481px;
  background: #613529;
}
.text-21 {
  display: block;
  margin: 0 auto;
}
.before-after {
  padding: 118px 0 156px;
  position: relative;
  background: #191919;
}
.l-constrained-6 {
  margin: 0 auto;
  padding: 0 21px;
  position: relative;
  width: 984px;
}
.text-22 {
  margin: 0 0 0 24px;
  font-size: 5.192672rem; /* 83.08px / 16px = 5.1925rem */
  font-weight: 500;
  line-height: 111px;
  text-align: center;
}
.row {
  margin: 87px auto 0;
  min-height: 1531px;
  padding: 335px 26px 337px 28px;
  position: relative;
  width: 892px;
  border: 1px solid #f3704d; /*stroke*/
  -webkit-border-radius: 35.5px;
  -moz-border-radius: 35.5px;
  border-radius: 35.5px;
  background: #000000;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.triangle-1 {
  float: left;
  margin: 382px 0 0;
}
.text-23 {
  float: left;
  margin: 0 0 0 304px;
}
.triangle-1-copy {
  float: left;
  margin: 382px 0 0 286px;
}
.cta {
  height: 2592px;
  padding: 107px 0 338px;
  position: relative;
  background: url(images/rectangle_4_copy_7.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained-7 {
  margin: 0 auto;
  padding: 0 43px;
  position: relative;
  width: 984px;
}
.text-24 {
  display: block;
  left: 13.5px;
  margin: 0 auto;
  position: relative;
}
.rectangle-2-copy-holder {
  margin: 127px auto 0;
  padding: 33px 0 32px;
  position: relative;
  width: 527px;
  -webkit-border-radius: 53.01px;
  -moz-border-radius: 53.01px;
  border-radius: 53.01px;
  background: #f3704d;
}
.text-25 {
  display: block;
  left: 10px;
  margin: 0 auto;
  position: relative;
}
.text-26 {
  display: block;
  left: 24.5px;
  margin: 1337px auto 0;
  position: relative;
}
